body {
  margin-left: 30px;
  margin-right: 30px;
  font-family: "Roboto", sans-serif;
}

h1{
    font-size: 42;
}

h1,
h2 {
  font-weight: 500;
}

.ordered-list {
  font-weight: 400;
}

.about-me {
  font-weight: 400;
}

.avatar-photo {
  width: 200px;
  height: 150px;
  margin-left: 50px;
  margin-bottom: 10px;
}

a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: blueviolet;
}

.bold-text {
  font-weight: 500;
}

p {
  margin-left: 10px;
}

.footer {
  display: flex;
  padding-top: 40px;
  padding-bottom: 25px;
  justify-content: center;
  align-items: center;
}

.indention {
  margin-left: 50px;
}

.color-blue{
    color:blue;
}

.color-purple{
    color:rgb(163, 1, 163);
}

.indention-hr-footer{
    margin-top: 25px;
}

